<h1>Order By Name</h1>

<div>
  <%= render partial: 'customers/customer',
             collection: @customers_orderby_name,
             locals: { show_link: true } %>
</div>
<%= link_to 'index',:action => :index%>